{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style_devis.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    {% endblock %}
    {% block title %}Mon Devis{% endblock %}
    {% block body %}
        <body>
        <main id="container-fluid" >
            <section>
                    <article id="debut" class="flex">
                        <h1>Vous souhaitez un site web ?</h1>
                        <p>Utilisez notre simulateur afin d'obtenir un prix détaillé en quelque clic</p>
                        <div class="q-global">
                            <p>Laissez nous vous guider</p>
                            <p>Recevez un devis en quelque minute par email</p>
                            <p>Pour commencer cliquer sur le bouton ci-dessous</p>
                            <a class="btn-ready" onclick="myScrollTo('art1')">
                                <p class="txt-btn">Commencer</p>
                            </a>
                        </div>
                    </article>
                <!-- DEBUT DU FORMULAIRE DE DEVIS -->
                    <article  id="art1" class="devis">
                        <h2 class="pt-10">Graphisme</h2>
                        <h3 class="margin-top">Fournissez-vous des instructions graphiques détaillées ?</h3>
                        <p class="margin-top"><span class="txt-purple">Zoning</span> : Vous fournissez au prestataire le détail concernant l'agencement (emplacement des informations) des pages du site.<br />
                            <span class="txt-purple">Maquette</span> : Vous fournissez le rendu définitif et détaillée des pages du site (agencement et graphisme).<br />
                            <span class="txt-purple">Non</span> : Vous ne fournissez aucune information graphique.
                        </p>
                        <div class="range">
                        {{ form_start(form_devis) }}
                        {{ form_row(form_devis.maquette, {
                            'label': false,
                            'attr': {
                                'min': '0',
                                'max': '2',
                                'value': '0',
                            }}) }}
                            <div class="range-style"><p class="range2-start-bar">|</p><p class="range2-mid-bar">|</p><p class="range2-end-bar">|</p></div>
                            <div class="range-style"><p class="range-start-txt">Maquette</p><p class="range-mid-txt">Zoning</p><p class="range-end-txt">Non</p></div>
                        </div>
                        <div class="nav-button">
                            <div class="nav-button-s">
                                <p onclick="myScrollTo('debut')" class="nav-button-t">Retour</p>
                            </div>
                            <div class="pos-nav-button nav-button-s">
                                <p onclick="myScrollTo('art2')" class="nav-button-t">Suite</p>
                            </div>
                        </div>
                    </article>
                    <article id="art2" class="devis">
                        <h3 class="pt-10">Niveau de graphisme attendu</h3>
                        <p  class="margin-top">
                            <span class="txt-purple">Normal</span> : Vous souhaitez un bon rendu graphique.<br /> <span class="txt-purple">Avancé</span> : Vous souhaitez un rendu graphique avancé
                            (Plus coûteux que Normal).<br /> <span class="txt-purple">Sur-mesure</span> : Vous serez intraitable sur la qualité du rendu graphique
                            (Plus coûteux que Avancé).
                        </p>
                        <div class="range">
                        {{ form_row(form_devis.lvlgraphisme, {
                            'label': false,
                            'attr': {
                                'min': '1',
                                'max': '3',
                                'value': '1',
                            }}) }}
                            <div class="range-style"><p class="range2-start-bar">|</p><p class="range2-mid-bar">|</p><p class="range2-end-bar">|</p></div>
                            <div class="range-style"><p class="range2-start-txt">Normal</p><p class="range2-mid-txt">Avancé</p><p class="range2-end-txt">Sur-mesure</p></div>
                        </div>
                        <div class="nav-button">
                            <div class="nav-button-s">
                                <p onclick="myScrollTo('art1')" class="nav-button-t">Retour</p>
                            </div>
                            <div class="pos-nav-button nav-button-s">
                                <p onclick="myScrollTo('art3')" class="nav-button-t">Suite</p>
                            </div>
                        </div>
                    </article>
                    <article class="devis" id="art3">
                        <h2 class="pt-5">Contenu</h2>
                        <h3 class="margin-top">Dans combien de langues le contenu sera-t-il consultable ?</h3>
                        <div class="slider-block">
                            <input type="range" min="1" max="20" value="1" name="a" oninput="result1.value=parseInt(a.value)">
                            <br />
                            <output name="result1" >1</output>
                        </div>
                        <h3 class="margin-top">Combien de page(s) souhaitez vous sur le site ?</h3>
                        <div class="slider-block">
                            <input type="range" min="1" max="50" value="1" name="b" oninput="result2.value=parseInt(b.value)">
                            <br />
                            <output name="result2">1</output>
                        </div>
                        <h3>Nombre de formulaire présent sur le site</h3>
                        <p>Il peut s'agir d'un simple formulaire de contact ou d'un formulaire de devis comme celui-ci </p>
                        <div class="slider-block">
                            <input type="range" min="0" max="10" value="0" name="c" oninput="result3.value=parseInt(c.value)">
                            <br />
                            <output name="result3">1</output>
                        </div>
                        <div class="nav-button">
                            <div class="nav-button-s">
                                <p onclick="myScrollTo('art2')" class="nav-button-t">Retour</p>
                            </div>
                            <div class="pos-nav-button nav-button-s">
                                <p onclick="myScrollTo('art4')" class="nav-button-t">Suite</p>
                            </div>
                        </div>
                    </article>
                    <article id="art4">
                        <h2>Fonctionalités générales</h2>
                        <h3 class="margin-top">Partie Actualité / Blog ?</h3>
                        <p class="margin-top">Fonctionnalité qui permet d'ajouter des articles.</p>
                        <div class="toggle-button-cover">
                            <div class="button r">
                                {{ form_widget(form_devis.partieblog, {
                                    'label': false,
                                    'required': false,
                                    'attr': {
                                        'class': 'checkbox'
                                    }}
                                ) }}
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                        <div class="margin-top">
                        </div>
                        <h3 class="margin-top">Partie Forum</h3>
                        <p class="margin-top">Fonctionnalité qui permet un système de questions réponse.</p>
                        <div class="toggle-button-cover">
                            <div class="button r">
                            {{ form_widget(form_devis.forum, {
                                'label': false,
                                'required': false,
                                'attr': {
                                    'class': 'checkbox'
                                }
                            }) }}
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                        <h3 class="margin-top">Espace membre</h3>
                        <p class="margin-top">Fonctionnalité qui permet aux membres d'accéder à un espace qui leur est personnel.</p>
                        <div class="toggle-button-cover">
                            <div class="button r">
                            {{ form_widget(form_devis.accesmembre, {
                                'label': false,
                                'required': false,
                                'attr': {
                                    'class': 'checkbox'
                                }
                            }) }}
                            <div class="knobs"></div>
                            <div class="layer"></div>
                        </div>
                        </div>
                        <div class="nav-button">
                            <div class="nav-button-s">
                                <p onclick="myScrollTo('art3')" class="nav-button-t">Retour</p>
                            </div>
                            <div class="pos-nav-button nav-button-s">
                                <p onclick="myScrollTo('art5')" class="nav-button-t">Suite</p>
                            </div>
                        </div>
                    </article>
                    <article id="art5">
                        <h2>Fonctionalités générales ...</h2>
                        <h3>Système de gestion de fichiers</h3>
                        <p>Souhaitez vous que vos clients ai la possibilitées de télécharger des fichiers ?</p>
                        <div class="toggle-button-cover">
                            <div class="button r">
                                {{ form_widget(form_devis.gestionfichier, {
                                    'label': false,
                                    'required': false,
                                    'attr': {
                                        'class': 'checkbox'
                                    }
                                }) }}
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                        <h3>Carte dynamique</h3>
                        <p>Offre a vos clients une carte interactive qui permet de vous repérez</p>
                        <div class="toggle-button-cover">
                            <div class="button r">
                                {{ form_widget(form_devis.cartedynamique, {
                                    'label': false,
                                    'required': false,
                                    'attr': {
                                        'class': 'checkbox'
                                    }
                                }) }}
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                        <h3>Intégrations Vidéos</h3>
                        <p>Souhaitez vous intégrer du contenu audiovisuel à votre site ?</p>
                        <div class="toggle-button-cover">
                            <div class="button r">
                                {{ form_widget(form_devis.integrvideo, {
                                    'label': false,
                                    'required': false,
                                    'attr': {
                                        'class': 'checkbox'
                                    }
                                }) }}
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                        <div class="nav-button">
                            <div class="nav-button-s">
                                <p onclick="myScrollTo('art4')" class="nav-button-t">Retour</p>
                            </div>
                            <div class="pos-nav-button nav-button-s">
                                <p onclick="myScrollTo('art6')" class="nav-button-t">Suite</p>
                            </div>
                        </div>
                    </article>
                    <article id="art6">
                        <h2>Suivi et Référencement</h2>
                        <h3 class="margin-top">Offre d'assistance mensuelle ?</h3>
                        <p class="margin-top">Le prestataire vous assiste en cas de problème technique sur le site.</p>
                        <div class="toggle-button-cover">
                            <div class="button r">
                                {{ form_widget(form_devis.assistance, {
                                    'label': false,
                                    'required': false,
                                    'attr': {
                                        'class': 'checkbox'
                                    }}) }}
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                        <div class="nav-button">
                            <div class="nav-button-s">
                                <p onclick="myScrollTo('art5')" class="nav-button-t">Retour</p>
                            </div>
                            <div class="pos-nav-button nav-button-s">
                                <p onclick="myScrollTo('art7')" class="nav-button-t">Suite</p>
                            </div>
                        </div>
                    </article>
                    <article id="art7">
                        <p class="margin-form">Votre devis vous sera envoyé par e-mail, si vous ne recevez rien penser à vérifier vos spam.</p>
                        {{ form_row(form_devis.nom,{
                            'label': false,
                            'attr': {
                                'class': 'form-fields',
                                'placeholder': 'Nom'
                            }}) }}
                        {{ form_row(form_devis.prenom,{
                            'label': false,
                            'attr': {
                                'class': 'form-fields',
                                'placeholder': 'Prénom'
                            }}) }}
                        {{ form_row(form_devis.email,{
                            'label': false,
                            'attr': {
                                'class': 'form-fields',
                                'placeholder': 'E-mail'
                            }}) }}
                        {{ form_row(form_devis.telephone,{
                            'label': false,
                            'attr': {
                                'class': 'form-fields',
                                'placeholder': 'Téléphone'
                            }}) }}
                        {{ form_row(form_devis.valider,{
                            'attr': {
                                'class': 'submit',
                            }}) }}
                        {{ form_end(form_devis) }}
                    </article>
            </section>
        </main>
        </body>
        <script>
            function myLastScrollTo(id) {
                let e = document.getElementById(id);
                let box = e.getBoundingClientRect();
                window.scrollBy(0, box.top);
            }

            function myScrollTo(id) {
                let e = document.getElementById(id);
                let box = e.getBoundingClientRect();
                let k;
                for (k = 0; k < 49; k++) setTimeout("window.scrollBy(0," + Math.floor(box.top / 50) + ")", 10 * k);
                setTimeout("myLastScrollTo('" + id + "')", 500);
            }
        </script>
    {% endblock %}





