{% extends 'base.html.twig' %}

{% block title %}Espace Client{% endblock %}
   {% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('css/espace_client.css') }}">
   {% endblock %}
{% block body %}
    <main>
    <section class="container">
        <h1>Espace Client</h1>
        <h2 class="m-t20">Bonjour, Mr. {{ user.lastname }}</h2>
        <p class="txt-index">Que souhaiter vous faire ?</p>
        <div class="d-flex">
            <div class="col-sm-12 col-md-12 col-lg-12 d-flex">
                <ul class="d-flex list-index ">
                    <li class="case">
                        <a href="{{ path('espace_client_devis') }}" class="case-title">
                            <img src="{{ asset('img/multi-devis.png') }}" alt="" class="m-t15">
                            <p class="m-t10 case-title">Mes Devis</p>
                        </a>
                    </li>
                    <li class="case">
                        <a href="{{ path('espace_client_profil') }}" class="case-title">
                            <img src="{{ asset('img/particulier.png') }}" alt="" class="m-t15">
                            <p class="m-t10 case-title">Mon Profil</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
{% endblock %}
