<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/style_base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
        <title>{% block title %}Accueil North Web{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <main role="main" class="container main">
        {% block main %}{% endblock %}
    </main>

    <body>

   <header class="row">
       <nav>
           <div class="menu" onclick="openNav()">
               <div class="bar"></div>
               <div class="bar"></div>
               <div class="bar"></div>
           </div>
           <div id="mySidenav" class="sidenav">
               <img src="{{ asset('img/logo.png') }}" alt="" class="logo">
               <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
               <a href="{{ path('accueil') }}">Accueil</a>
               <a href="{{ path('qui_sommes_nous') }}">Présentations</a>
               <a href="{{ path('devis') }}">Devis</a>
               <a href="{{ path('accueil')}}#section4">Références</a>
               <a href="{{ path('contact_index') }}">Contact</a>
           </div>
       </nav>
    </header>
   <div id="accueil">
   </div>
   <div id="bouton">
       <div id="motif-bouton"></div>
   </div>
        {% block body %}{% endblock %}
   <script>
       /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
       function openNav() {
           document.getElementById("mySidenav").style.width = "250px";
           document.getElementById("main").style.marginLeft = "250px";
           document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
       }

       /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
       function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
           document.getElementById("main").style.marginLeft = "0";
           document.body.style.backgroundColor = "white";
       }
   </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
